section {
    width: 500px;
    height: 500px;
    background-color: coral;
}
#rgba {
    width: 50%;
    height: 50%;
    background-color: #52f3e3b3;
}
#opacity {
    width: 50%;
    height: 50%;
    background-color: rgb(247, 243, 46);
    opacity: 0.7;
}